*{
    box-sizing: border-box;
}
.body{
  font: 12px/14px "trebuchet MS", sans-serif;
   color: #525252;
   background: #fff;
   margin: 0 ; 
}
.header-box{
    border-bottom: 1px solid #fff;
 background: linear-gradient(180deg, rgba(199,14,0,1) 0%, rgba(99,1,0,1) 100%);
}
.container{
    width: 902px;
    margin: 0 auto;
}
.logo{
  display: block;
  width: 265px;
  height: 66px;
  background: #fff;
  text-align: center;
  padding: 4px 0 0;
}
.nav-box{
   background: #000; 
   margin-bottom: 19px;
}
.nav-list{
 margin: 0;
 padding: 0 0 0 272px;
 font-size: 0;
 list-style: none;
}
.nav-item{
display: inline-block;
font-size: 11px ;
line-height: 16px;
font-weight: bold;
}
.nav-link{
 color: #fff;
 text-decoration: none; 
 padding: 8px; 
 display: block;
}
.nav-link:hover{
    color: #000;
    background: #fff;
}
.main{
  margin-top: 0 0 0 276px;
  width: 621px;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: top;
}
.img{
  border: solid 12px #dfdfdf;
}
.block{
padding: 0 0 0 14px;
font-family: "trebuchet MS", sans-serif;
}
.h1{
  font-size: 22px;
  line-height: 26px;
  color: #ed1a2d ;
  margin-bottom: 8px;
  margin-top: 27px;
}
.main-list{
  color: #525252;
  font-size: 0;
  margin-bottom: 25px;
  margin-top: 0px;
  padding-left: 0px;
}
.main-link{
  text-decoration: none;
  color: #525252;
}
.item{
  display: inline-block;
 font-size: 10px;
}
.item::before{
  content: ">";
  margin: 0 3px;
}
.item:first-child::before{
  content: "";
}
.text{
  font-size: 14px;
  line-height: 18px;
  color: #525252;
}
.main-container{
  font-size: 0px;
}
.aside{
  display: inline-block;
  font-size: 12px;
  width: 265px;
  padding: 33px 35px 0 41px;
  margin: 0 16px 0 0;
}
.button{
  border: 1px solid #e3e3e3;
  padding: 5px 5px 2px 5px;
  margin-bottom: 31px;
}
.btn{
  display: block;
  width: 177px;
  height: 27px;
  background: #928564;
  margin: 0 0 5px 0;
  border-radius: 0;
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  font-family: sans-serif;
}
.btn-link{
  text-decoration: none;
  color: #fff;
}
.btn:hover{
  color: #928564;
  background: #ed1a2d;
}
.icon{
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  margin-left: 31px;
  width: 132px;
  height: 43px;
  margin-bottom: 29px ;
}
.events{
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
  padding-top: 22px;
  padding-bottom:22px ;
}
.aside-text{
  color: #ed1a2d;
  padding-bottom: 5px;
  font-size: 13px;
  line-height: 17px;
  font-family: sans-serif;
}
.aside-link{
  list-style-type: none;
  padding: 0 0 0 17px;
}
.span{
  margin-left: 19px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
.span-event{
  display: block;
  color: #6e6e6e;
  font-style: italic;
  font-size: 10px;
  line-height: 14px;
  font-family: sans-serif;
}
.footer-box{
  text-align: center;
background: linear-gradient(180deg, rgba(99,1,0,1) 0%, rgba(199,14,0,1) 100%);
margin-top: 29px;
padding: 33px;
}
.span-footer{
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
}